
body {
    background: #fff;
    font-family: arial;
    margin: 0;
    width: 100% !important;
    height: 100% !important;
}

.slide-enter {
    right: -100%;
    &.slide-enter-active {
        -webkit-transition: right .3s ease-in;
        transition: right .3s ease-in;
        right: 0;
    }
}

.slide-leave {
    left: 0;
    &.slide-leave-active {
        -webkit-transition: left .3s ease-in;
        transition: left .3s ease-in;
        left: -100%;
    }
}

.slideBack-enter {
    left: -100%;
    &.slideBack-enter-active {
        transition: left .3s ease-in;
        -webkit-transition: left .3s ease-in;
        left: 0;
    }
}

.slideBack-leave {
    right: 0;
    &.slideBack-leave-active {
        transition: right .3s ease-in;
        -webkit-transition: right .3s ease-in;
        right: -100%;
    }
}

.menubutton {
    background: #eff;
    color: #555;
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 1.2rem;
    cursor: pointer;
    &:active {
        background: #fff;
    }
    .menuicon {
        width: 1rem;
        margin-right: .5rem;
    }
}

.header {
    z-index: 3;
    .headertitle {
        color: #000;
        text-align: center;
        font-size: 1.2rem;
        width: 24rem;
        margin-left: -12rem;
        left: 50%;
        position: absolute;
    }

    .headermenu {
        background-image: url('../styles/images/drag.png');
        background-size: 1.8rem 3rem;
        background-repeat: no-repeat;
        width: 2rem;
        cursor: pointer;
        top: 0.2rem;
        height: 3rem;
        position: absolute;
        z-index: 2;
    }
}

.headeradd, .headeredit {
    width: 1.5rem;
    height: 3rem;
    top: 1rem;
    cursor: pointer;
    position: absolute;
    z-index: 2;
}

.headeradd {
    background-image: url('../styles/images/android-add.png');
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    &:active {
        top: 0.8rem;
    }
}

.headeredit {
    background-image: url('../styles/images/edit.png');
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    &:active {
        top: 0.8rem;
    }
}

.back {
    background-image: url('../styles/images/arrow-left-b.png');
    background-size: 2rem 2.5rem;
    background-repeat: no-repeat;
    width: 2rem;
    top: 0.5rem;
    cursor: pointer;
    height: 3rem;
    font-size: 1.8rem;
    position: absolute;
    z-index: 2;
    &:active {
        top: 0.3rem;
    }
}

.header {
    .headermenu {
        left: .5rem;
    }
    .back {
        left: 3rem;
    }
    .headeradd {
        right: .5rem;
    }
    .headeredit {
        right: 3rem;
    }
    top: 0;
    z-index: 1;
    background: lightskyblue;
    line-height: 3.5rem;
    height: 3.5rem;
    font-size: 1.2rem;
    position: relative;
}

.menu {
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 0;
    background-color: lightskyblue;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%%);
    &.open {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

.contentArea {
    min-height: 100%;
    min-width: 100%;
    background-color: #fff;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    &.open {
        -webkit-transform: translateX(45%);
        transform: translateX(45%);
    }
}

.listitem {
    background: #fff;
    cursor: pointer;
    position: relative;
    padding: 2rem 0 2rem 2rem;
    border-bottom: 1px solid #aaa;
    .delete {
        visibility: hidden;
        position: absolute;
        background: lightcoral;
        color: #fff;
        padding: 0.2rem;
        right: 2.5rem;
        top: 1.6rem;
        opacity: 0;
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
    }
    .edit {
        visibility: hidden;
        position: absolute;
        background: burlywood;
        color: #fff;
        padding: 0.2rem;
        top: 1.6rem;
        right: 4.5rem;
        opacity: 0;
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
    }
    .delete {
        &.show {
            opacity: 1;
            visibility: visible;
        }
        &:active {
            background: red;
        }
    }
    img {
        width: 1.2rem;
    }
    &:first-child {
        border-top: 1px solid #aaa;
    }
    .edit {
        &.show {
            opacity: 1;
            visibility: visible;
        }
        &:active {
            background: orange;
        }
    }
    &.tappable:after {
        right: 10px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #bbb;
        border-width: .5rem;
        top: 2rem;
    }
    &.active {
        background: antiquewhite;
    }
}

.back.hide {
    display: none;
}

.content .page {
    min-width: 100%;
    z-index: 3;
    min-height: 100%;
    position: absolute;
    background-color: #fff;
}

.modal {
    &.open {
        top: 0;
    }
    position: absolute;
    z-index: 100;
    background: #eee;
    opacity: 0.9;
    top: -60%;
    left: 0;
    right: 0;
    height: 60%;
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    .close {
        cursor: pointer;
        height: 2rem;
        width: 2rem;
        right: .5rem;
        background-image: url('../styles/images/close-circled.png');
        background-size: 2rem 2rem;
        top: .5rem;
        position: absolute;
        display: inline-block;
    }
}

.form {
    text-align: center;
    button, input, select {
        font-size: 1.5rem;
    }
    select {
        width: 16rem;
    }
    &.exercises,&.workouts {
        div {
            margin-bottom: 1rem;
        }
    }
}

.finish {
    width: 100%;
    line-height: 3rem;
    cursor: pointer;
    background: lightblue;
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    &:active {
        background: #ccc;
        cursor: hand;
    }
    img {
        width: 1.5rem;
        margin-right: .5rem;
    }
}

.timer {
    width: 100%;
    line-height: 3rem;
    height: 3rem;
    font-size: 2rem;
    background: lightblue;
    text-align: center;
    img {
        width: 1.5rem;
        margin-left: .3rem;
    }
}

.rep {
    background: brown;
    color: #eee;
    cursor: pointer;
    padding: .5rem 1.5rem .5rem 1.5rem;
    margin: 0.1rem;
    &:active {
        background: lightcoral;
        cursor: hand;
    }
}

.form.training {
    margin-top: 1rem;
}

.training {
    h1 {
        text-align: center;
    }
}

.stopTraining {
    text-align: center;
    position: relative;
    margin-top: 20%;
    font-size: 3rem;
    button {
        font-size: 2rem;
    }
}

input.invalid {
    border: 1px solid red;
}

.page.home {
    .timer {
        margin-top: 0.1rem;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        line-height: 3rem;
        background: lightblue;
    }
    .activeTraining {
        cursor: pointer;
        font-size: 1.5rem;
        line-height: 3rem;
        text-align: center;
        width: 100%;
        background: burlywood;
        &:active {
            background: #aaa;
        }
    }
    img {
        width: 1.3rem;
        margin-right: .5rem;
        margin-left: .5rem;
    }
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 90;
    cursor: pointer;
    top: 0;
    left: 45%;
    &.modalOpen {
        top: 60%;
        left: 0;
    }
}

.workoutDetail {
    width: 100%;
    padding-top: 25%;
    padding-left: 10%;
    h1 {
        font-size: 1.5rem;
    }
}

.trainingdetail {
    h2 {
        text-align: center;
    }
    .date {
        text-align: center;
        padding-bottom: 1.5rem;
    }
    .exercise {
        padding: 1rem;
    }
    .set {
        .count {
            font-weight: bold;
            margin-right: 1rem;
        }
        .repsweight {
            color: #888;
        }
    }
    img {
        width: .9rem;
        margin-right: .2rem;
    }
}

