body {
    background: #eee;
    font-family: arial;
    margin: 0;
}

.slide-enter {
    left: -100%;
    transition: left .3s ease-in;
}

.slide-enter.slide-enter-active {
    left: 0;
}

.slide-leave {
    left: 0;
    transition: left .3s ease-in;
}

.slide-leave.slide-leave-active {
    left: 100%;
}

.slideBack-enter {
    right: -100%;
    transition: right .3s ease-in;
}

.slideBack-enter.slideBack-enter-active {
    right: 0;
}

.slideBack-leave {
    right: 0;
    transition: right .3s ease-in;
}

.slideBack-leave.slideBack-leave-active {
    right: 100%;
}

.menubutton {
    background: #333;
    color: #eee;
    padding: 0.5rem;
    margin: 0.1rem;
}

.menubutton:hover {
    background: #777;
    cursor: hand;
}

.header .headertitle {
    color: #000;
    text-align: center;
    width: 24rem;
    margin-left: -12rem;
    left: 50%;
    position: absolute;
}

.header .headermenu,.headeradd,.headeredit,.back {
    line-height: 1rem;
    width: 2.5rem;
    background: #888;
    position: absolute;
    color: #eee;
    text-align: center;
    padding: 0.25rem;
    margin: 0.1rem;
    z-index: 2;
}

.header .headermenu:hover,.headeradd:hover,.headeredit:hover,.back:hover {
    background: #777;
    cursor: hand;
}

.header .headermenu {
    left: .1rem;
}

.header .back {
    left: 3.5rem;
}

.header .headeradd {
    right: .1rem;
}

.header .headeredit {
    right: 3.5rem;
}

.header {
    top: 0;
    background: lightskyblue;
    line-height: 2rem;
    height: 2rem;
    position: relative;
}

.menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.contentArea {
    min-height: 100%;
    min-width: 100%;
    background-color: white; 
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
}

.contentArea.open {
    left: 35%;
}

.list {
}

.listitem {
    background: #fff;
    cursor: pointer;
    position: relative;
    padding: 2rem 0 2rem 2rem;
    border-bottom: 1px solid #aaa;
}

.listitem:first-child {
    border-top: 1px solid #aaa;
}

.listitem.tappable:after {
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #bbb;
    border-width: .5rem;
    top: 2rem;
}

.back.hide {
    display: none;
}

.content .page {
    width: 100%;
    position: absolute;
}
